.full-width {
   font-family: 'Work Sans', sans-serif;
   font-size: .8rem;
   line-height: 2rem;
   letter-spacing: .1rem;
   width: 100%;
   background-color: #f8f4f3;
   text-transform: uppercase;
   text-decoration: none solid rgb(151, 151, 151);
}

.navbar-brand {
   font-size: 1rem;
   letter-spacing: .15rem;
}

span.separator {
   padding: 0 .8rem;
}

span.logo {
   font-family: 'Reenie Beanie', serif;
   text-transform: capitalize;
   font-size: 1.6rem;
}

.navbar-styling {
   text-transform: uppercase;
   font-size: .8rem;
   letter-spacing: .1rem;
   font-weight: 600;
   vertical-align: baseline;
   text-decoration: none solid rgb(151, 151, 151);
}

.page-title {
   font-family: 'Abhaya Libre', serif;
   font-size: 2rem;
   text-align: center;
   padding-bottom: 1rem;
}

@media (max-width: 576px) {
   .subject {
      display: none;
   }
}