.recipe-and-img-container {
   min-height: 100vh;
}

.recipe-img {
   display: block;
   max-width: 718px;
   max-height: 1024px;
   width: auto;
   height: auto;
   margin: 6rem 3rem;
}

.recipe-text {
   background-color: #fff9f5;
   padding: 6rem 3rem;
   overflow: hidden;
}

.recipe-comments {
   background-color: #f8f4f3;
   margin-top: 3rem;
   margin-bottom: 3rem;
   padding: 3rem;
}

.return-to-list {
   font-family: 'Work Sans', sans-serif;
   font-size: .8rem;
   color: black;
}

@media (max-width: 576px) {
   .recipe-comments {
      margin-top: 0rem;
      margin-bottom: 0rem;
   }
}